@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
body
{
  font-size: 16px;
  font-family: 'Open Sans'
}
@-webkit-keyframes autofill {
  to {
    color: rgba(255, 255, 255, 0.8);
    background: transparent;
    font-size: 18px;
    font-family: 'Open Sans';
  }
}
.carousel-indicators .active
{
  background-color: #250687 !important;
}
.wd100
{
  width: 100%;
  float: left;
}
.wd80
{
  width: 80%;
  margin: 0 auto;
}
.wd75 {
  width: 75%;
}
.wd50 {
  width: 50%;
}
.noPadd
{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.removePaddBottom {
  padding-bottom: 0 !important;
}
.mb-20
{
  margin-bottom: 20px;
}
.boxShadow
{
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
.blueBgColor
{
  background-color: #001934;
}
.blueBgGradientColor {
  background-color: #002852;
  background-image: linear-gradient(to bottom, #002852, #000C19);
  /* Safari 4-5, Chrome 1-9 */
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#002852), to(#000C19));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #002852, #000C19);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #002852, #000C19);
  /* IE 10 */
  background: -ms-linear-gradient(top, #002852, #000C19);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #002852, #000C19);
}
.yellowBgColor
{
  background-color: #fdecda;
}
.darkGrayBgColor
{
  background-color: #222;
}
.lightGrayBgColor
{
  background-color: #f7f7f7;
}
.whiteBgColor
{
  background-color: #fff;
}
.gradientBgColor
{
  background-color: #372476;
  /* Safari 4-5, Chrome 1-9 */
  background: linear-gradient(#372476, #3b173b);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#372476), to(#3b173b));
  /* Safari 5.1, Chrome 10+ */
  background: -webkit-linear-gradient(top, #372476, #3b173b);
  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, #372476, #3b173b);
  /* IE 10 */
  background: -ms-linear-gradient(top, #372476, #3b173b);
  /* Opera 11.10+ */
  background: -o-linear-gradient(top, #372476, #3b173b);
}
.commonSectionWrapper
{
  padding: 60px 0;
}
.noClick {
  pointer-events: none;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0;
  font-family: 'Poppins' !important;
}
.pageHeader, h1
{
  font-family: 'Poppins';
  font-size: 48px;
  line-height: 1.25;
  color: #001934;
  line-height: normal;
  font-weight: 600 !important;
  padding-bottom: 16px;
}
h2 {
  font-family: 'Poppins';
  font-size: 32px;
  font-weight: 600 !important;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-align: left;
  color: #001934 !important;
  span {
    font-weight: normal !important;
  }
}
h4 {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #fff;
  font-size: 18px;
  padding-bottom: 16px;
}
.clearBoth {
  clear: both;
}
.sectionHeader
{
  font-family: 'Poppins';
  font-size: 28px;
  color: #001934;
  line-height: 1.4;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}
.sectionSubHeader
{
  font-family: 'Poppins';
  font-size: 22px;
  color: #001934;
  line-height: 1.4;
  font-weight: 400;
}
.sectionDescriptionTitle
{
  font-family: 'Open Sans';
  font-size: 18px;
  color: #001934;
  font-weight: 600;
  padding-bottom: 32px;
  line-height: 1.44;
  a {
    color: #001934;
    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #001934;
    }
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }
}
.sectionDescription {
  font-family: 'Open Sans';
  font-size: 18px;
  color: #001934;
  font-weight: 300;
}
.tag {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  color: #00829b;
  line-height: 1.56;
  letter-spacing: 3.2px;
}
.arrowLink {
  font-family: 'Poppins';
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #001934;
  img {
    margin-left: 6px;
    margin-top: -2px;
    width: 16px;
    transition: 200ms;
  }
  a {
    color: #001934;
    display: flex;
    align-items: center;
    &:hover {
      color: #001934;
      text-decoration: none;
      img {
        transform: translateX(4px);
      }
    }
    &:focus {
      outline: none;
      text-decoration: none;
    }
  }
}
ul
{
  padding-inline-start: 0px;
}
.sectionDescriptionSmall
{
  font-family: 'Open Sans';
  font-size: 14px;
  color: #7a4fa1;
  font-weight: 300;
  color: #8a8a8a;
}
.displayFlex
{
  display: flex;
  align-items: center;
}
.whiteLineSeperator
{
  width: 16px;
  height: 4px;
  background-color: #fff;
  margin-bottom: 20px;
}
.greenLineSeperator {
  width: 16px;
  height: 2px;
  background-color: #00829b;
  margin: 16px 0;
}
.greenLineSeperatorlight {
  width: 16px;
  height: 2px;
  background-color: #1cd3c6;
  margin: 16px 0;
}
.blueLineSeperator {
  width: 16px;
  height: 2px;
  background-color: #001934;
  margin: 16px 0;
}
.purpleLineSeperator
{
  width: 16px;
  height: 4px;
  background-color: #2b0785;
  margin-bottom: 20px;
}
.commonBtn
{
  padding-top: 10px;
  button
  {
    background-color: #542683;
    color: #fff;
    width: 260px;
    padding-left: 10px;
    height: 50px;
    border: 1px solid #542683;
    position: relative;
    text-align: left;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'raleway';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.6px;
    img
    {
      display: inline-block;
      margin-left: 20px;
      width: 16px;
      position: absolute;
      right: 10px;
      top: 19px;
    }
  }
  button:hover
  {
    // border: 1px solid #ff724b;
    background-color: #471f75;
  }
  button:focus
  {
    outline: none;
  }
}
.gradientBtn
{
  text-align: center;
  button
  {
    border: 1px solid #ff724b;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 14px;
    color: #ff724b;
    background-color: #fff;
    font-family: 'raleway';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.6px;
  }
  button:hover
  {
    background-color: #f8f8f8;
  }
  button:focus
  {
    outline: none;
  }
}
.notifyHeader
{
  font-weight: 600;
  margin-top: 30px;
}
.notifyWrapper input {
  width: 63%;
  border: 0;
  border-bottom: 2px solid #fff;
  height: 45px;
  background-color: transparent;
  color: #fff;
  opacity: 0.6;
}
.notifyWrapper button {
    border-radius: 25px;
    background-color: transparent;
    padding: 10px 15px;
    border: 0;
    width: 32%;
    color: #fff;
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 600;
    height: 45px;
    letter-spacing: 2px;
    margin-left: 4%;
    border: 2px solid #fff;
}
.notifyWrapper button:hover, .notifyWrapper button:focus {
  background-color: #fff;
  color: #2b0785;
}
.notifyWrapper button:focus, .notifyWrapper input:focus {
  outline: none;
}
.upArrow
{
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #001e3e;
  display: none;
}
.subscribe_form {
  input {
    background-color: #353535;
    color: #7F7F7F;
    width: 60%;
    border: 0;
    border-radius: 5px;
    height: 40px;
    padding-left: 10px;
    font-size: 14px;
    position: relative;
    display: inline-block;
  }
  input:focus
  {
    outline: none;
  }
  button {
    display: inline-block;
    width: 30%;
    margin-left: 2%;
    text-align: center;
    line-height: 32px;
    height: 40px;
    font-size: 14px;
    font-family: 'Raleway';
    font-weight: 600;
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
    border: 1px solid #FFCA27;
    border-radius: 5px;
    background-color: #4767a1 !important;
    border-color: #4767a1 !important;
    color: #fff !important;
    &:hover, &:focus
    {
      background-color: #3b5f93 !important;
      border-color: #3b5f93 !important;
    }
    &:focus
    {
      outline: none;
    }
  }
}
.headerWrapper
{
  padding: 30px 0;
  padding-bottom: 0;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
  .navbarDefault
  {
    background-color: transparent;
    border: 0;
    margin-bottom: -1px;
    .navbarHeader
    {
      flex: 1;
      .navbarToggle
      {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }

  }
  .logoWrapper
  {
    display: inline-block;
    flex: 1;
    img
    {
      width: 140px;
      display: inline-block;
    }
  }
  .navBarWrapper
  {
    li
    {
      padding: 10px 20px;
      position: relative;
      .upArrow
      {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -2px;
      }
      button
      {
        font-family: 'Poppins';
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        padding: 0;
        color: #ffffff !important;
        opacity: 0.5;
        background-color: transparent !important;
        border: none;
        &:hover, &:focus
        {
          opacity: 1;
          outline: none;
        }
      }
      .dropdownMenu
      {
        width: 540px;
        top: 42px;
        padding: 0px 24px;
        padding-right: 0;
        border: 0 !important;
        border-radius: 5px;
        box-shadow: 0 3px 40px 0 rgba(0, 0, 0, 0.32);
        background-color: #001e3e;
        .dropdownMenuBgImg
        {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          overflow: hidden;
          img
          {
            height: 100%;
          }
        }
        .menuTitle
        {
          font-family: 'Poppins';
          font-size: 24px;
          font-weight: 600;
          color: #1cd3c6;
          line-height: 1.25;
          padding-top: 16px;
          padding-right: 20px;
        }
        .sectionDescription {
          color: #fff;
          opacity: .6;
          padding-bottom: 32px;
        }
        .dropdownUl
        {
          font-size: 18px;
          a
          {
            width: 100%;
            float: left;
            padding-left: 12px;
            border-bottom: 1px solid rgba(255, 255, 255, .16);
            li
            {
              padding: 13px 0;
            }
          }
          a:last-child {
            border-bottom: 0;
          }
          a:hover {
            text-decoration: none;
          }
          li
          {
            padding: 13px 0;
            list-style-type: none;
            color: #fff;
            cursor: pointer;
            img {
              margin-right: 8px;
            }
            a
            {
              color: #2b0785;
              opacity: 1;
            }
            .circle
            {
              width: 5px;
              height: 5px;
              background-color: #909090;
              border-radius: 50%;
              margin: 0 5px;
            }
            span
            {
              font-size: 10px;
              color: #909090;
              text-transform: inherit;
            }
          }
          .hoverLi {
            color: #1cd3c6;
            text-decoration: none;
            li {
              color: #1cd3c6 !important;
            }
          }
          .comingSoonHover, .comingSoonHover:hover
          {
            clear: both;
            color: #fff !important;
            font-weight: normal;
            pointer-events: none;
            opacity: 0.35 !important;
            margin-left: 12px;
            span
            {
              color: #fff !important;
              font-weight: normal;

            }
          }
        }
      }
    }
    .open
    {
      a {
        opacity: 1 !important;
      }
      .upArrow
      {
        display: block;
      }
    }

    .active
    {
      a, span
      {
        background-color: transparent;
        opacity: 1;
        border-bottom: 1px solid #fff;
        color: #fff;
        &:hover
        {
          background-color: transparent;
          color: #ffffff;
        }
      }
    }
  }
}
.reactBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/react-original.svg');
}
.vueBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/vue-original.svg');
}
.angularBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/angular-original.svg');
}
.elmBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/elm-original.jpg');
}
.reBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/reasonml-original.svg');
}
.hasuraBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/hasura-original.svg');
}
.postgresBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/postgres-original.svg');
}
.iosBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/ios-original.png');
}
.androidBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/android-original.svg');
}
.flutterBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/flutter-original.svg');
}
.typescriptBg {
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/typescript-original.png')
}
.reactDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/react-disable.svg');
}
.vueDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/vue-disable.svg');
}
.angularDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/angular-disable.svg');
}
.elmDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/elm-disable.svg');
}
.reDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/reasonml-disable.svg');
}
.hasuraDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/hasura-disable.svg');
}
.postgresDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/postgres-disable.svg');
}
.iosDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/ios-disable.svg');
}
.androidDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/android-disable.svg');
}
.flutterDisableBg
{
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/flutter-disable.svg');
}
.typescriptDisableBg {
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/typescript-disable.png')
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover
{
  background-color: transparent !important;
  color: #fff !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
{
  background-color: transparent !important;
}
.flexBoxWrapper
{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  clear: both;
  .flexContainer
  {
    display: flex;
    .flexList
    {
      display: flex;
      flex-direction: column;
      width: 100%;
      .flexAlign
      {
        flex: 1 0 auto;
      }
    }
  }
}
.topBannerWrapper
{
  display: flex;
  align-items: center;
  padding: 60px 0;
  padding-bottom: 80px;
  .pageHeader
  {
    padding-top: 80px;
    color: #fff;
    padding-bottom: 24px;
    line-height: 1.25;
  }
  .sectionHeader
  {
    color: #fff;
    padding-bottom: 20px;
  }
  .sectionDescription
  {
    color: #fff;
    width: 85%;
    opacity: .6;
    line-height: 1.44;
    // padding-bottom: 20px;
    a {
      text-decoration: none
    }
  }
  .topBannerImg
  {
    text-align: center;
    img
    {
      width: 100%;
      display: inline-block;
    }
  }
}
.footerWrapperBg {
  background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/footer-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
}
.footerWrapper {
  margin-top: 60px;
  h4 {
    font-weight: 500;
    color: #fff;
  }
  .footerLinks {
    padding-bottom: 52px;
    .pSmall {
      padding-bottom: 8px;
      font-size: 16px;
      font-family: 'Open Sans';
      a {
        color: #fff;
        opacity: .6;
        font-weight: 300;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          opacity: 1;
          border-bottom: 1px solid #fff;
        }
        &:focus {
          text-decoration: none;
          outline: none;
        }
      }
    }
  }
  .footerLogo {
    text-align: center;
    padding-top: 90px;
    img {
      display: inline-block;
    }
  }
  .subscribeFormWrapper {
    padding: 0;
    .subscribeForm {
      padding: 0;
      position: relative;
      font-size: 18px;
      input {
        width: 100%;
        border-radius: 5px;
        border: solid 2px #fff;
        padding: 12px 16px;
        color: rgba(255, 255, 255, .8);
        font-weight: 300;
        height: 52px;
        padding-right: 35px;
        background-color: transparent;
        margin-bottom: 16px;
        &:focus, &:hover {
          outline: none;
        }
      }
      input:-webkit-autofill {
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
      }
      ::-webkit-input-placeholder { /* Edge */
        color: rgba(255, 255, 255, .5);
      }

      :-ms-input-placeholder { /* Internet Explorer */
        color: rgba(255, 255, 255, .5);
      }

      ::placeholder {
        color: rgba(255, 255, 255, .5);
      }
      button {
        position: absolute;
        right: 0;
        padding: 12px 0;
        padding-right: 16px;
        background-color: transparent;
        border: 0;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .copyWriteWrapper {
    padding-top: 36px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(255, 255, 255, .16);
    display: flex;
    align-items: center;
    .copyWrite {
      display: flex;
      align-items: center;
      img {
        margin-right: 8px;
      }
      h4 {
        font-weight: 300;
        padding-bottom: 0;
        color: rgba(255, 255, 255, .4);
      }
    }
    .footerSocialIconsWrapper {
      margin-left: auto;
      display: flex;
      .socialBrands {
        padding: 0 12px;
        a {
          opacity: .24;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
/* Tutorial section */
.tutorialWrapper
{
  .sectionHeader
  {
    padding-bottom: 40px;
  }
  .tutorailsHeaderWrapper
  {
    background-color: #fff;
    height: 60px;
    width: calc(100% - 8px);
    display: flex;
    align-items: center;
    padding: 15px 0;
    position: relative;
    margin-bottom: 8px;
    .tutorialBgImg
    {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      overflow: hidden;
    }
    .tutorialHeader
    {
      padding: 0 25px;
      font-family: 'Open Sans';
      font-size: 20px;
      font-weight: 500;
      color: #2b0785;
      span
      {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .tutorialListWrapper
  {
    text-align: left;
    .disabledList
    {
      cursor: not-allowed;
    }
    .listTutorial, .disabledList
    {
      width: calc(33.33% - 8px);
      background-color: #fff;
      border-radius: 2px;
      display: inline-block;
      margin-bottom: 8px;
      padding: 15px 20px;
      text-align: center;
      margin-right: 8px;
      border-radius: 2px;
      background-repeat: no-repeat;
      background-size: 70px 70px;
      background-position: center;
      transition: all .2s ease-out;
      &:hover
      {
        transition: all .2s ease-out;
      }
      .tutorialIconWrapper
      {
        min-height: 70px;
        position: relative;
        img
        {
          max-height: 50px;
          min-height: 50px;
          display: inline-block;
          flex: 1;
        }
        .comingSoon
        {
          font-size: 10px;
          color: #909090;
          position: absolute;
          left: 50%;
          bottom: -10px;
          transform: translateX(-50%);
          padding-top: 5px;
          width: 60px;
        }
      }
    }
    .listTutorial:hover
    {
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
    }
  }
}
/* frontend tutorial section */
.frontendTutorialWrapper {
  .tag {
    padding-top: 60px;
  }
  .sectionDescriptionTitle {
    padding-right: 70px;
  }
  h2 {
    padding-bottom: 32px;
  }
  .sectionDescription {
    padding-bottom: 48px;
  }
  ul {
    padding-bottom: 0 !important;
    li {
      list-style-type: none;
      padding: 16px 0px;
      padding-right: 20px;
      display: flex;
      align-items: flex-start;
      img {
        margin-right: 16px;
      }
    }
  }
  .hasuraListWrapper {
    display: flex;
    .introList {
      background-color: #1cd3c6;
      margin-right: 15px;
      .tag {
        color: #001934;
        padding-top: 0;
      }
    }
    .authList {
      background-color: #f8f8f8;
      margin-left: 15px;
      .tag {
        padding-top: 0;
        color: #005e70;
      }
      .arrowLink {
        a {
          color: #AB1240;
          &:hover {
            color: #AB1240;
          }
        }
      }
    }
    .introList, .authList {
      border-radius: 2px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      position: relative;
      padding: 50px;
      overflow: hidden;
      width: calc(100% - 15px);
      .brandPos {
        position: absolute;
        right: 40px;
        top: 40px;
      }
      .waterMarkImg {
        position: absolute;
        right: -130px;
        bottom: -100px;
        opacity: .1;
      }
      h2 {
        color: #001934;
        padding-bottom: 32px;
        font-size: 30px;
      }
      ul {
        margin-bottom: 32px;
        li {
          img {
            margin-right: 8px;
          }
        }
      }
      .arrowLink {
        a {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}
.boxWrapper {
  display: flex;
}
.box {
  width: 120px;
  height: 120px;
  border-radius: 2px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #fff;
  margin-left: 16px;
  margin-bottom: 16px;
  display: inline-block;
  padding: 20px;
  position: relative;
  .overlayWrapper {
    border-radius: 2px;
    background-color: #001934;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: normal;
    color: #16baaf;
    padding: 8px 27px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -30px;
    transition: opacity .3s ease-out;
    opacity: 0;
    z-index: 1;
  }
  img {
    width: 80px;
    transition: 500ms;
  }
  &:hover {
    .overlayWrapper {
      transition: opacity .3s ease-out;
      opacity: 1;
    }
    img {
      transform: scale(1.2);
    }
  }
}
/* What will learn section */
.willLearnWrapper
{
  .sectionHeader
  {
    padding-bottom: 20px;
  }
  .sectionDescription
  {
    width: 50%;
    padding-bottom: 40px;
  }
  .willLearnTutorial
  {
    .willLearnList
    {
      border-radius: 2px;
      box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
      background-color: #ffffff;
      padding-bottom: 10px;
      .willLearnHeader
      {
        border-radius: 2px;
        height: 60px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
        background-color: #ffffff;
        margin-bottom: 8px;
        font-family: 'Open Sans';
        font-size: 20px;
        font-weight: 500;
        padding: 0 24px;
        display: flex;
        align-items: center;
        color: #2b0785;
        span
        {
          font-size: 16px;
          font-weight: 400;
          margin-left: 6px;
        }
      }
      .listWrapper
      {
        display: flex;
        padding: 10px 0;
        .tick
        {
          padding-right: 8px;
          img
          {
            width: 20px;
          }
        }
        .sectionDescription
        {
          width: 100%;
          padding-bottom: 0;
        }

      }
    }
  }
}
/* Footer section update */
.footer_wrapper
{
  width: 100%;
  float: left;
  .logo_icon
  {
    padding-top: 10px;
    text-align: left;
    padding-left: 15px;
    img
    {
      max-width: 120px;
      display: inline-block;
    }
  }
  .footer_section
  {
    .footer_header
    {
      font-size: 15px;
      font-family: 'Raleway';
      font-weight: 600;
      letter-spacing: 1px;
      color: #7D7D7D;
      padding-bottom: 20px;
      padding-top: 10px;
    }
    .footer_social_wrapper
    {
      padding-bottom: 35px;
      display: flex;
      align-items: center;
      .social_icons
      {
        display: inline-block;
        padding-right: 25px;
        a:focus {
          i {
            color: #fff;
          }
          .discordIcon
          {
            background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/discord-white.svg');
          }
        }
				i
				{
					font-size: 25px;
					color: #6A6A6A;
				}
				i:hover
				{
					color: #fff;
				}
        img
        {
          width: 30px;
        }
        .discordIcon
        {
          background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/discord-gray.svg');
          width: 27px;
          height: 20px;
          background-repeat: no-repeat;
        }
        .discordIcon:hover
        {
          background-image: url('https://graphql-engine-cdn.hasura.io/learn-hasura/assets/homepage/discord-white.svg');
        }
      }
    }
    .footer_email
    {
      position: relative;
      .email_input
      {
        background-color: #353535;
        border: 0;
        border-radius: 5px;
        width: 90%;
        height: 40px;
        color: #7F7F7F;
        padding-left: 10px;
        font-size: 14px;
        position: relative;
      }
      .footer_arrow
      {
        position: absolute;
        top: 5px;
        right: 10px;
        width: 30px;
        cursor: pointer;
      }
      .email_input:focus
      {
        outline: none;
      }
    }
    .footer_links
    {
      font-size: 14px;
      font-family: 'Open Sans';
      font-weight: 600;
      padding-bottom: 15px;
      color: #CECECE;
      a
      {
        color: #7D7D7D;
        cursor: pointer;
      }
      a:hover, a:focus
      {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
.copy_text
{
  padding-top: 50px;
	text-align: center;
	color: #FFF;
  clear: both;
  font-size: 12px;
}
.testimoialsWrapper
{
  .sectionHeader
  {
    text-align: center;
    padding-bottom: 20px;
  }
  .purpleLineSeperator
  {
    margin: 0 auto;
  }
  .testimonialListWrapper
  {
    .testimonialListRight {
      margin-left: auto;
      .quotes {
        padding-right: 80px;
      }
      .authorImg {
        padding-left: 40px;
      }
    }
    .testimonialList {
      .quotes {
        padding-left: 80px;
        img {
          transform: scaleX(-1);
        }
      }
      .authorImg {
        padding-right: 40px;
      }
    }
    .testimonialList, .testimonialListRight
    {
      display: flex;
      padding-bottom: 120px;
      .quoteWrapper {
        .sectionDescription {
          padding-bottom: 16px;
          a {
            word-break: break-all;
          }
        }
        .sectionDescriptionTitle {
          padding-bottom: 8px;
        }
      }
      .quotes {
        img {
          width: 170px;
        }
      }
      .designation {
        color: #00829b;
        font-weight: 300;
        font-family: 'Poppins';
        font-size: 16px;
        line-height: 1.56;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        span {
          font-weight: 600;
        }
      }
      .authorImg
      {
        img
        {
          width: 180px;
          height: 180px;
          border-radius: 50%;
        }
      }
    }
  }
}
.featuredWrapper
{
  h1
  {
    text-align: center;
    padding-bottom: 20px;
    color: #001934;
  }
  .purpleLineSeperator
  {
    margin: 0 auto;
  }
  .featuredIconWrapper
  {
    text-align: center;
    padding-top: 60px;
    .featuredIcon
    {
      display: inline-block;
      padding: 0 35px;
      img
      {
        max-height: 90px;
      }
    }
  }
}
@media (max-width: 767px)
{
  .wd75 {
    width: 100%;
  }
  .wd50 {
    width: 100%;
  }
  .commonSectionWrapper
  {
    padding: 30px 0;
  }
  .pageHeader
  {
    font-size: 30px;
  }
  .sectionHeader
  {
    font-size: 22px;
  }
  .whiteLineSeperator, .purpleLineSeperator
  {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .subscribe_form {
    button
    {
      font-size: 12px;
    }
  }
  .headerWrapper
  {
    padding-top: 15px;
    .navbarDefault
    {
      .navbarHeader
      {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
    }
    .navBarWrapper
    {
      background-color: #001934;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      li
      {
        padding: 10px 20px;
        .dropdownMenu
        {
          width: 100%;
          float: left;
          position: relative;
          top: 10px;
          padding-right: 24px;
          .menuTitle
          {
            padding-bottom: 0;
          }
          .dropdownMenuBgImg
          {
            display: none;
          }
          .purpleLineSeperator
          {
            margin: 20px;
            margin-left: 0;
          }
        }
      }
      .active
      {
        a
        {
          border-bottom: 0;
        }
      }
    }
    .logoWrapper
    {
      text-align: left;
      padding-left: 15px;
      img
      {
        display: inline-block;
      }
    }
  }
  .topBannerWrapper
  {
    display: block;
    .pageHeader
    {
      text-align: center;
      padding: 0 15px;
      padding-bottom: 20px;
      padding-top: 45px;
    }
    .sectionHeader
    {
      text-align: center;
    }
    .sectionDescription
    {
      text-align: center;
      width: 100%;
      padding: 0 15px;
      padding-bottom: 20px;
    }
    .commonBtn
    {
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .topBannerImg
    {
      padding: 30px 0px;
      padding-top: 0;
      text-align: center;
      img
      {
        width: 70%;
        display: inline-block;
      }
    }
  }
  .tutorialWrapper
  {
    .sectionHeader
    {
      text-align: center;
      padding-bottom: 0;
    }
    .tutorailsHeaderWrapper
    {
      margin-top: 30px;
      .tutorialHeader
      {
        font-size: 16px;
        padding: 0 15px;
        span
        {
          font-size: 12px;
        }
      }
    }
    .tutorialListWrapper
    {
      .listTutorial
      {
        padding: 15px 10px;
        .tutorialIconWrapper
        {
          .comingSoon
          {
            font-size: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 5px;
            width: 60px;
          }
        }
      }
    }
  }
  .willLearnWrapper
  {
    .sectionHeader
    {
      text-align: center;
    }
    .sectionDescription
    {
      width: 100%;
      text-align: left;
      padding-bottom: 0;
    }
    .willLearnTutorial
    {
      .willLearnList
      {
        margin-top: 30px;
        .willLearnHeader
        {
          font-size: 16px;
          padding: 0 15px;
          span
          {
            font-size: 12px;
          }
        }
      }
    }
  }
  .notifyWrapper
  {
    text-align: center;
    input
    {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    button
    {
      width: auto;
      padding: 10px 25px;
    }
  }
  .footer_wrapper
  {
    .logo_icon
    {
      padding-top: 0;
      text-align: center;
      padding-left: 0;
    }
    .footer_section
    {
      padding-top: 15px;
      text-align: center;
      .footer_header
      {
        padding-bottom: 10px;
        text-align: center;
      }
      .footer_links
      {
        padding-bottom: 10px;
        text-align: center;
      }
      .footer_social_wrapper
      {
        padding-bottom: 25px;
        justify-content: center;
        .social_icons
        {
          padding-right: 10px;
        }
      }
      .footer_email
      {
        .footer_arrow
        {
          right: 20px;
        }
      }
    }
  }
  .copy_text
  {
    padding-top: 30px;
  }
  .wd80
  {
    width: 100%;
  }
  .testimoialsWrapper
  {
    padding: 0 15px;
    .testimonialListWrapper
    {

      .testimonialList, .testimonialListRight
      {
        display: block;
        padding-bottom: 60px;
        .quotes
        {
          display: none;
          img
          {
            width: 30px;
          }
        }
        .authorImg {
          padding-left: 0;
          text-align: center;
          padding-bottom: 20px;
          img {
            width: 120px;
            height: 120px;
          }
        }
        .quoteWrapper {
          text-align: center;
        }
        .authorWrapper
        {
          .author
          {
            padding-left: 15px;
            .name
            {
              font-size: 16px;
            }
            .designation
            {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .featuredWrapper
  {
    .featuredIconWrapper
    {
      padding-top: 40px;
      .featuredIcon
      {
        padding: 0 10px;
        img
        {
          max-height: 50px;
          max-width: 75px;
        }
      }
    }
  }
  .box {
    width: 80px;
    height: 80px;
    padding: 10px;
    img {
      width: 65px;
    }
  }
  .footerWrapper {
    .footerLinks {
      text-align: center;
      padding-bottom: 35px;
    }
    .footerLogo {
      padding-top: 40px;
      padding-bottom: 30px;
    }
    .copyWriteWrapper {
      display: block;
      padding: 30px 0;
      text-align: center;
      .copyWrite {
        padding-bottom: 20px;
        justify-content: center;
      }
      .footerSocialIconsWrapper {
        justify-content: center;
      }
    }
    .subscribeFormWrapper {
      h4 {
        text-align: center;
      }
    }
  }
  .frontendTutorialWrapper {
    .sectionDescriptionTitle {
      padding-right: 0;
    }
    .hasuraListWrapper {
      display: block;
      .authList, .introList {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        padding: 30px;
        .arrowLink {
          a {
            display: block;
          }
        }
      }
      .introList {
        margin-bottom: 30px;
        .brandPos {
          right: 10px;
          top: 10px;
        }
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 991px)
{
  .commonSectionWrapper {
    padding: 30px 0;
  }
  .wd75 {
    width: 100%;
  }
  .tutorialWrapper
  {
    .sectionHeader
    {
      padding-bottom: 0;
    }
    .tutorailsHeaderWrapper
    {
      margin-top: 30px;
    }
    .tutorialListWrapper
    {
      .listTutorial
      {
        .tutorialIconWrapper
        {
          .comingSoon
          {
            font-size: 10px;
            left: 50%;
            transform: translateX(-50%);
            padding-top: 5px;
            width: 60px;
          }
        }
      }
    }
  }
  .willLearnWrapper
  {
    .sectionHeader
    {
      text-align: left;
    }
    .sectionDescription
    {
      width: 75%;
      text-align: left;
      padding-bottom: 0;
    }
    .willLearnTutorial
    {
      .willLearnList
      {
        margin-top: 30px;
        .listWrapper
        {
          .sectionDescription
          {
            text-align: left;
          }
        }
      }
    }
  }
  .footer_wrapper
  {
    .logo_icon
    {
      padding-top: 0;
      text-align: center;
      padding-left: 0;
    }
  }

  .footer_section
  {
    padding-top: 20px;
    text-align: center;
    .footer_header
    {
      padding-bottom: 15px;
      text-align: center;
    }
    .footer_links
    {
      padding-bottom: 10px;
      text-align: center;
    }
    .footer_social_wrapper
    {
      padding-bottom: 25px;
      justify-content: center;
      .social_icons
      {
        padding-right: 5px;
      }
    }
    .footer_email
    {
      .footer_arrow
      {
        right: 20px;
      }
    }
  }
  .copy_text
  {
    padding-top: 30px;
  }
  .testimoialsWrapper
  {
    padding-top: 30px;
    .testimonialListWrapper
    {
      .testimonialListRight {
        .quotes {
          padding-right: 50px;
        }
        .authorImg {
          padding-left: 30px;
        }
      }
      .testimonialList {
        .quotes {
          padding-left: 50px;
        }
      }
      .testimonialList, .testimonialListRight
      {
        .authorImg {
          img {
            width: 140px;
            height: 140px;
          }
        }
        .quotes {
          img {
            width: 110px;
          }
        }
        .testimonialContent
        {
          font-size: 20px;
        }
      }
    }
  }
  .featuredWrapper {
    .featuredIconWrapper {
      padding-top: 30px;
    }
  }
  .box {
    width: 80px;
    height: 80px;
    padding: 10px;
    img {
      width: 65px;
    }
  }
  .frontendTutorialWrapper {
    .hasuraListWrapper {
      .authList, .introList {
        .arrowLink {
          a {
            display: block;
          }
        }
      }
    }
  }
}
